nav {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100
}
#navbar {
  display: flex;
  align-items: center;
  background-color: white;
  height: 50px;
}
#welcome {
  margin-left: 30px;
  width: 500px;
  transition-timing-function: linear;
  transition: 2s;
}
h2 {
  font-size: 30px;
  font-family: "Poetsen One";
  font-weight: normal;
  font-style: normal;
  color: darkslategrey;
}
#logo-container {
  padding: 20px;
}
#home-button {
  cursor: pointer;
  margin-left: 3%;
}
#menu-container {
  margin-left: 50%;
  z-index: 100;
  border-radius: 40px;
  width: 50px;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  height: 20px;
}
#profile-thumb {
  margin-left: 30px;
}
#menu {
  width: 200px;
  background-color: white;
  z-index: 100;
  margin-left: 83%;
  position: absolute;
  border-radius: 40px;
  border: solid lightgrey;
  border-width: 1px;
  margin-top: -5px;
  overflow: hidden;
}
.menu-item:last-child {
  border-bottom: none;
}
.menu-item {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-bottom: solid lightgrey;
  border-width: 1px;
  font-size: 16px;
  background-color: white;
  border: solid lightgrey;
  border-width: 1px;
  border-top: none;
  max-height: 30px;
}
.menu-item:hover {
  border-top: solid #80CC37;
  outline: none;
}
.auth-window {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: transparent;
  z-index: 10000000000000;
  margin-left: 35%;
  border-radius: 20px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
}
.hide {
  display: none;
}
.dim {
  background-color: rgba(87, 98, 126, 0.651);
  z-index: 90;
}
#mobile-bar {
  display: none;
}
#mobile-welcome {
  display: none;
}
#mobile-menu {
  display: none;
}
@media (max-width: 700px) {
  nav {
    top: auto;
    bottom: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 65px;
  }
  #navbar {
    justify-content: space-evenly;
    height: 65px;
  }
  #welcome {
    display: none;
  }
  #menu-container {
    display: none;
  }
  #mobile-bar {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  .menu-item {
    border: none;
    text-align: center;
    padding: 10px;
    width: 90px;
    height: 100%;
    max-height: none;
  }
  .menu-item:last-child {
    border-right: none;
  }
  .nav-label {
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    padding-top: 8px;
  }
  #logout-item {
    width: 50px;
  }
  amplify-sign-out {
    padding: none;
    margin: none;
  }
  amplify-authenticator {
    height: 30px;
  }
  .auth-window {
    position: fixed;
    top: 100px;
    bottom: 50px;
    right: 0;
    left: 0;
    width: 375px;
    overflow-x: hidden;
    overflow: scroll;
    align-self: center;
    margin-left: 0;
    height: 450px;
  }
  #home-button {
    display: none;
  }
  #mobile-menu {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 50vw;
    background-color: #fff;
    position: fixed;
    right: 0;
    bottom: 75px;
    transition: transform .3s ease-in-out;
    overflow: scroll;
    z-index: 95;
    border-left: solid lightgrey;
    border-width: 1px;
    border-radius: 30px;
    box-shadow: 0 4px 8px grey;
  } 
  #mobile-menu.hideMenu {
    transform: translate3d(100vw, 0, 0);
  }
   
  #mobile-menu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }
  .mobile-menu-item {
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: none;
    text-align: left;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
  }
  .mobile-menu-text {
    margin-left: 10px;
  }
}
