body {
  margin: 0;
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#location-container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 110px;
  margin-left: 85px;
}

#location-cell {
  background-color: white;
  width: 250px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 4px 15px 0 rgba(0, 0, 0, 0.103);
}

#business-image {
  width: 100%;
  object-fit: cover;
}

#location-png {
  height: 20px;
  width: 15px;
}
