#user-profile-container {
    background-color: rgb(250, 238, 238);
    height: 100%;
    width: 100%;
    padding-top: 40px;
}
#profile-info {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}
#profile-img {
    margin-right: 20px;
}
.upload-img-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    text-decoration: underline;
}
.user-img-preview {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
}
#user-photo-file {
    display: none;
}
.profile-upload-btn-container {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: center;
}
#img-circle {
    min-width: 200px;
    object-fit: cover;
}
.attribute {
    margin-left: 15px;
    margin-bottom: 15px;
    line-height: 30px;
    height: 40px;
    overflow: hidden;
    width: 200px;
}
#profile-categories {
    font-weight: 600;
    font-size: 16px;
    margin-left: 15px;
    line-height: 20px;
    width: 150px;
}
#edit-button-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
#edit-button {
 background-color: #80cc37;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 0 4px 8px lightgrey;
  margin-top: 70px;
  cursor: pointer;
  font-size: 16px;
}
.profile-input {
    border-radius: 10px;
    border: none;
    text-indent: 5px;
    box-shadow: 0 4px 8px lightgrey;
    width: 90%;
    height: 30px;
    font-size: 16px;
}
#cancel {
    background-color: none;
    text-decoration: underline;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    background: transparent;
}
#section-container {
    display: flex;
    flex-flow: row nowrap;
}
#main {
    width: 100%;
}
section {
    width: 50%;
}
#profile-divider {
    display: none;
}
.inbox-toggle {
    margin-left: 10px;
}
@media (max-width: 700px) {
    #user-profile-container {
        padding-top: 0px;
        overflow-y: scroll;
        padding-bottom: 60px;
        background: #efefbb; /* fallback for old browsers */
        background: -webkit-linear-gradient(
          to bottom,
          rgb(230, 228, 245),
          #efefbb
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
          to bottom,
          rgb(230, 228, 245),
          #efefbb
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    #profile-info {
        width: 100%;
    }
    #profile-img {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    #section-container {
        flex-flow: row wrap;
    }
    #main {
        width: 100%;
        border-right: none;
    }
    section {
        width: 100%;
    }
    #profile-divider {
        display: flex;
        width: 80%;
        color: lightgrey;
        margin-top: 30px;
    }
    #profile-img {
        display: flex;
        justify-content: center;
    }
    #profile-details {
        margin-top: 20px;
    }
    #edit-button {
        margin-top: 30px;
    }
}
