#OurProduct-container{
    display: flex;
    flex-direction: column;
}

header{
    margin-bottom: 50px;
}
h2{
    margin-bottom:50px;
    text-align: center;
    line-height: 35px;
}
#imgPic-container{
    display: flex;
    flex-direction: row;
}
#cafe{
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.textField{
    width: 80%;
    margin: 0 auto;
}
h3{
    font-size: 200%;
    line-height: 50px;
    word-wrap: break-word;
    margin-top: 30px;
    margin-bottom: 30px;
}
#lastLine{
    font-size: 200%;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 600;
    color: #73b930;;
}
.lastLine-container{
    display: flex;
    flex-direction: row;
}
#frog{
    height: auto;
    width: 20%;
    margin: 0 auto;

}


@media (max-width: 700px) {
    h3{
        font-size: 150%;
        line-height: 40px;
        word-wrap: break-word;
        margin-top: 30px;
    }
    #lastLine{
        font-size: 180%;
        margin-top: 30px;
        margin-bottom: 40px;
        text-align: center;
        color: #73b930;;
    }
    #frog{
        height: auto;
        width: 50%;
        margin: 0 auto;
    }
    
    
    
}
