#inbox-container {
  padding-top: 40px;
  background-color: rgb(250, 238, 238);
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
#inbox {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.message-body-container {
  border: solid lightgrey;
  border-width: 1px;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 4px 8px lightgrey;
  background-color: white;
  margin-bottom: 15px;
  height: 600px;
  overflow-y: scroll;
}
.msg {
  margin-bottom: 15px;
}
.to {
  font-weight: 700;
  margin-right: 10px;
}
.recipient {
  background-color: rgb(228, 224, 224);
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
  text-align: right;
  width: auto;
}
.right:not(.left) {
  text-align: right;
  padding-right: 7px;
}
.other-messenger {
  padding: 5px;
  margin: 5px;
}
.msg-name {
  font-weight: 700;
  padding: 5px;
  color: darkslategrey;
}
#message-preview-container {
  border-right: solid lightgrey;
  border-width: 1px;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  background-color: transparent;
}
.single-preview {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: solid lightgrey;
  border-width: 1px;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
}
.biz-name-messenger {
  font-weight: 700;
  padding-bottom: 5px;
}
#selected-message-container {
  width: 60%;
}
.write-new {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 20px;
  border-bottom: solid lightgrey;
  border-width: 1px;
}
.new-msg-icon {
  margin-right: 20px;
}
.dropdown-bookings {
  width: 50%;
}
.bookings {
  width: 200px;
  border-radius: 40px;
  height: 30px;
  border: none;
  box-shadow: 0 4px 8px lightgrey;
}
#message-box {
  width: 100%;
  padding: 20px;
  height: 100%;
  margin: 10px;
}
.inbox-subheader {
  text-align: center;
}
.inbox-buttons {
  display: flex;
  flex-flow: row nowrap;
}
.msg-input-area {
  display: flex;
  align-items: center;
  width: 98%;
  border-radius: 20px;
  height: 60px;
  margin-right: 10px;
  background-color: white;
  padding: 8px;
  box-shadow: 0 4px 8px lightgrey;
}
#send-message-input {
  width: 95%;
  height: 60px;
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 4px;
}
#send-message-input:focus {
  outline: none;
}
.mobile-version {
  display: none;
}
#send-input-icon {
  cursor: pointer;
}
#mobile-selected-message-container {
  display: none;
}
.inbox-toggle {
  margin-bottom: 10px;
  display:flex;
  justify-content: center;
}
@media (max-height: 815px) {
  #inbox-container {
    overflow: hidden;
    bottom: 65px;
    position: absolute;
    padding-top: 5px;
    top: 0;
    background: #efefbb; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      rgb(230, 228, 245),
      #efefbb
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      rgb(230, 228, 245),
      #efefbb
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  #inbox {
    flex-flow: row wrap;
    bottom: 65px;
    overflow-y: scroll;
  }
  .dropdown-bookings {
    width: 250px;
  }
  .mobile-version {
    display: inline;
  }
  #selected-message-container {
      display: none;
  }
  #message-preview-container {
      width: 100%;
      height: 625px;
      top: 100px;
      bottom: 65px;
      overflow-y: scroll;
      overflow-x: hidden;  
    }
    .inbox-subheader {
      text-align: left;
      margin-left: 10px;
      margin-bottom: 15px;
    }
    .write-new {
      display: flex;
      width: 100%;
      align-items: center;
    }
    .bookings {
      margin-left: 10px;
    }
    #mobile-msg-box {
      display: flex;
      width: 100%;
    }
    #message-box {
      margin-top: 0px;
      width: 100%;
      padding: 0px;
    }
    .recipient {
      padding: 2px;
    }
    .message-body-container {
      height: 480px;
      width: 94%;
      padding: 10px;
      padding-bottom: 5px;
      overflow-y: scroll;
    }
    .msg-input-area {
      height: 40px;
      bottom: 65px;
      width: 96%
    }
    #send-message-input {
      height: 40px;
      margin-bottom: 5px;
    }
    .back-to-inbox {
      width: 100px;
      border: none;
      background-color: #80cc37;
      border-radius: 30px;
      margin-right: 5px;
      cursor: pointer;
      text-align: center;
      height: 35px;
      box-shadow: 0 4px 8px lightgrey;
    }
    #back-inbox-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .inbox-header {
      margin-left: 50px;
      z-index: 100
    }
    .biz-name-message {
      width: 300px;
      display: flex;
      flex-flow: row nowrap;
    }
    .web-version {
      display: none;
    }
    #mobile-selected-message-container {
      display: flex;
      overflow-y: hidden;
    }
}
@media (max-height: 700px) {
  .message-body-container {
    height: 335px;
  }
  #message-preview-container {
    height: 480px;
  }
  #mobile-selected-message-container {
    overflow-y: hidden;
  }

}