#map-container {
    width: 100%;
}
.map-window-img {
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}
  @media (max-width: 700px) {
   .location-city:not(.listed-info) {
       margin-top: 30px;
   }
   .gm-style .gm-style-iw {
       max-width: 300px !important;
   }
  }
  