#res-header {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    text-indent: 20px;
    color: darkslategrey;
    letter-spacing: 2px;
}
#booking-section {
    width: 100%;
    display: flex;
    justify-content: center;
}
#res-table {
    margin-top: 30px;
    padding: 5px;
    width: 40%;
}
tr {
    height: 30px;
    
}
#booked-biz-name {
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 20px;
}
.single-booking-container {
    border: solid grey;
    border-width: 1px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 5px;
}
.detail-row {
    display: flex;
    flex-flow: row nowrap;
}
.biz-info-divider {
    width: 50%;
    margin-top: 20px;
}

@media (max-width: 700px) {
    .single-booking-container {
        width: 100%;
    }
    #res-table {
        width: 80%;
    }
    #booked-biz-name {
        padding-top: 20px;
    }
    #booking-date {
        width: 50%;
    }
    tr {
        width: 100%;
    }
    .detail-row {
        justify-content: space-evenly;
        line-height: 22px;
    }
}
