#bizcard-location-container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 40px;
  justify-content: center;
}

#bizcard-location-cell {
  border-radius: 25px;
  justify-content: center;
  background-color: white;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 4px 15px 0 rgba(0, 0, 0, 0.103);
}

#bizcard-business-image {
  width: 100%;
  object-fit: cover;
}

#bizcard-location-name {
  font-weight: 700;
  text-align: center;
}

.book-button {
  cursor: pointer;
  margin-right: 30px;
  border-radius: 25px;
  margin  : 5px auto;
  display : block;
  width   : 50px;
}

.icon {
  margin-right: 10px;
}
