#bizcard-location-container {
  background-color: rgb(250, 238, 238);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 40px;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
  align-content: flex-start
}
#image-cell {
  width: 100%;
  display: flex;
  justify-content: center;
}
#bizcard-name {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
}
#bizcard-image {
  width: 800px;
  height: 400px;
  object-fit: cover;
  border-radius: 40px;
  box-shadow: 0 4px 8px lightgrey;
}
#bizcard-location, 
#bizcard-type,
#bizcard-price,
#bizcard-phone,
#bizcard-capacity {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
}
.icon {
  padding-right: 15px;
}
#bizcard-location-cell {
  display: flex;
  flex-flow: row nowrap;
  width: 800px;
}
#info-cell {
  width: 50%;
  border-right: solid lightgrey;
  border-width: 1px;
}
#booking-details {
  width: 100%;
}
#booking-price {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}
#booking-header {
  padding-left: 20px;
  font-weight: 700;
  font-size: 20px;
}
.divider {
  width: 80%;
  border-width: 1px;
}
.book-button {
  cursor: pointer;
  margin-right: 30px;
  border-radius: 25px;
  margin  : 5px auto;
  display : block;
  width   : 50px;
}

