#search-container {
  background: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
}
#logo-container {
  width: 100%;
  text-align: center;
}
#logo {
  margin-top: 80px;
  width: 300px;
}
#search-bar-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}
#search-bar {
  background-color: white;
  display: flex;
  height: 100px;
  border-radius: 50px;
  width: 80%;
  box-shadow: 0 4px 8px lightgrey;
  z-index: 10;
  align-self: flex-start;
}
#location-input-field {
  width: 40%;
}
.input {
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.input:hover {
  background-color: lightgrey;
}
#search-button {
  width: 100px;
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
  background-color: #80cc37;
  border-radius: 50%;
  justify-content: center;
  border: none;
  box-shadow: 0 4px 8px lightgrey;
  overflow: hidden;
}

#location-input {
  align-self: center;
  text-indent: 20px;
  font-size: 16px;
  height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 50px;
  width: 300px;
  outline: none;
}
#autocomplete-selections {
  border-radius: 20px;
  margin-top: 20px;
  background-color: white;
  overflow: hidden;
  position: absolute;
  border: solid lightgrey;
  border-width: 1px;
}
.date-input {
  font-size: 20px;
  align-self: center;
  height: 50px;
  border: none;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  align-content: center;
}
.time {
  width: 20%;
}
#search-button-container {
  width: 5%;
}
.MuiFormControl-root {
  width: 100%;
}
.MuiInputBase-input {
  text-indent: 20px;
  border-bottom: none;
}
.MuiInput-underline {
  border-bottom: none;
}
.MuiInputLabel-formControl {
  text-indent: 20px;
}
.MuiInput-underline:before {
  border-bottom: none;
}
#loadingSign {
  display: block;
}
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: #80cc37;
}
@media (max-width: 415px) and (max-height: 897px) {
  .input {
    margin-bottom: 15px;
  }
  #logo {
    width: 200px;
  }
  #logo-container {
    padding: 0px;
  }
  #search-container {
    height: 86vh;
  }
  #search-bar-container {
    margin-top: 25px;
  }
  #search-button-container {
    width: 280px;
  }
}
@media (min-height: 700px) and (max-height: 850px) {
  #search-bar-container {
    margin-top: 50px;
    height: 100vh;
  }
  .input {
    margin-bottom: 30px;
  }
}
@media (max-width: 700px) {
  #search-container {
    margin-top: 0;
    margin-bottom: 65px;
    height: 100vh;
    overflow-y: hidden;
    background: #9e9e84; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      rgb(230, 228, 245),
      #efefbb
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      rgb(230, 228, 245),
      #efefbb
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  #search-bar {
    flex-flow: row wrap;
    background-color: transparent;
    box-shadow: none;
    justify-content: center;
    width: 80%;
  }
  .input {
    width: 280px;
    background-color: white;
    margin-bottom: 30px;
  }
  .input:hover:not(.time) {
    border: solid #80cc37;
  }
  #location-input-field {
    width: 280px;
  }
  #location-input {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    width: 280px;
  }
  #location-input:focus {
    outline: none;
  }
  .date-input {
    font-size: 16px;
  }
  #search-button-container {
    width: 100%;
    margin-top: 20px;
  }
  #search-button {
    border-radius: 100px;
    width: 100%;
    height: 50px;
  }
  #search-text {
    display: none;
  }
  .MuiInput-underline:before {
    border-bottom: none;
  }
}

@media (max-width: 400px) and (max-height: 820px) {
  #logo-container {
    height: 180px;
    width: 100%;
    padding: 0px;
    padding-top: 30px;
  }
  #logo {
    margin-top: 0px;
    width: 50%;
  }
  .input {
    height: 30px;
    margin-bottom: 15px;
  }
  #autocomplete-selections {
    z-index: 100;
    position: fixed;
  }
  #mobile-welcome {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .date-input {
    text-indent: 20px;
  }
  #search-button-container {
    width: 100%;
    padding: 10px;
  }
  #search-button {
    height: 30px;
  }
  #location-input {
    width: 280px;
    margin-left: -8px;
  }
  #loadingSign {
    width: 250px;
  }
}
